In [14]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance as yf

name = "AAPL"
start, end = "2012-01-01", "2019-01-01"
stock_df = pd.DataFrame(yf.Ticker(name).history(period="max"))[start: end]
stock_df.drop(["High", "Low", "Open", 'Dividends', "Stock Splits"], axis = 1, inplace = True)
stock_df["daily log returns"] = np.log(stock_df["Close"]/stock_df["Close"].shift(1))
stock_df.dropna()

            Close     Volume  daily log returns
Date
2012-01-04  12.72  260022000           0.005518
2012-01-05  12.86  271269600           0.010946
2012-01-06  12.99  318292800           0.010058
2012-01-09  12.97  394024400          -0.001541
2012-01-10  13.02  258196400           0.003848
...           ...        ...                ...
2018-12-24  35.80  148676800          -0.026190
2018-12-26  38.32  234330000           0.068024
2018-12-27  38.07  212468400          -0.006545
2018-12-28  38.09  169165600           0.000525
2018-12-31  38.46  140014000           0.009667

[1759 rows x 3 columns]